
Elbow_FK_gen.m
Elbow_Jb_gen.m
Elbow_Js_gen.m
SCARA_FK_gen.m
SCARA_Jb_gen.m
SCARA_Js_gen.m
SEA_dynamics_dampers_gen.m
SEA_dynamics_gen.m
submitThis.txt
HW1_ag.p
116.tif
.tif
129.tif
142.tif
156.tif
167.tif
207.tif
208.tif
231.tif
269.tif
341.tif
40.tif
42.tif
5.tif
49.tif
problems1through4hw1190.mat
sampling_issue_code.m
HW2/__MACOSX/._HW2.pdf
HW2/__MACOSX/._SEA_control_design.m
HW2/HW2.pdf
HW2/HW2_ag.p
HW2/SEA_control_design.m
AG_vars.mat
ForwardDynamics_gen.m
HW3/
tbxmanager/
